<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lifetracker/bootstrap/css/bootstrap.min.css' %}" />
    <title>{% block title %}Lifetracker{% endblock %}</title>
</head>
<body>
{% block header %}
    <nav class="navbar navbar" role="navigation">
       <div id="accordion" class="panel-group group">
		<div class="container">
			<div class="panel">
				<h3>Lifetracker</h3>
			</div>
			<div class="panel clearfix">
				{% if lt_username %}
					<p>Welcome {{ lt_username }}! (<a href="{% url 'lifetracker:logout' %}">logout)</a></p>
				{% endif %}
			</div>
		</div>
	</div>
    </nav>
{% endblock %}
<section class="mainSection">
	<div class="container">
		<div class="clearfix contentWrapper">
			{% block content %}{% endblock %}
		</div>
	</div>
</section>
</body>
</html>
