<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Lifetracker{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
            <h3>Lifetracker</h3>
            {% if lt_username %}
                <p>Welcome {{ lt_username }}! (<a href="{% url 'lifetracker:logout' %}">logout)</a></p>
            {% endif %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>